*.pyc
*.sh.o*
*.png
example/MISOMIP_999/Ua
example/MISOMIP_999/coupler_stdout
example/MISOMIP_999/jobs.log
example/MISOMIP_999/mitgcm_run/build
example/MISOMIP_999/mitgcm_run/run
example/MISOMIP_999/mitgcm_run/input/*.shice
example/MISOMIP_999/mitgcm_run/input/OBE*
example/MISOMIP_999/mitgcm_run/input/*.bin
example/MISOMIP_999/ua_run/Ua
example/MISOMIP_999/ua_run/options_for_ua
example/MISOMIP_999/ua_run/matlab*.out
example/MISOMIP_999/ua_run/*RunInfo.txt
example/MISOMIP_999/ua_run/ResultsFiles
example/MISOMIP_999/ua_run/*.mat
example/MISOMIP_999/output
example/MISOMIP_1r*
example/MISOMIP_mesh*
MISOMIP_netcdf_output
example/FRIS_999/Ua
example/FRIS_999/coupler_stdout
example/FRIS_999/jobs.log
example/FRIS_999/mitgcm_run/build
example/FRIS_999/mitgcm_run/run
example/FRIS_999/mitgcm_run/input/*.shice
example/FRIS_999/mitgcm_run/input/OBE*
example/FRIS_999/mitgcm_run/input/*.bin
example/FRIS_999/ua_run/Ua
example/FRIS_999/ua_run/options_for_ua
example/FRIS_999/ua_run/matlab*.out
example/FRIS_999/ua_run/*RunInfo.txt
example/FRIS_999/ua_run/ResultsFiles
example/FRIS_999/ua_run/*.mat
example/FRIS_999/output