[submodule "tools/mitgcm_python"]
	path = tools/mitgcm_python
	url = https://github.com/knaughten/mitgcm_python.git
[submodule "tools/xmitgcm"]
	path = tools/xmitgcm
	url = https://github.com/xgcm/xmitgcm.git
[submodule "MITgcm"]
	path = MITgcm
	url = git@github.com:MITgcm/MITgcm.git
[submodule "UaSource"]
	path = UaSource
	url = git@github.com:GHilmarG/UaSource.git
