[submodule "tools/mitgcm_python"]
	path = tools/mitgcm_python
	url = https://github.com/knaughten/mitgcm_python.git
[submodule "tools/xmitgcm"]
	path = tools/xmitgcm
	url = https://github.com/xgcm/xmitgcm.git
[submodule "MITgcm_67k"]
	path = MITgcm_67k
	url = git@github.com:MITgcm/MITgcm.git
[submodule "MITgcm_67g"]
	path = MITgcm_67g
	url = git@github.com:MITgcm/MITgcm.git
[submodule "UaSource_22Nov2018"]
	path = UaSource_22Nov2018
	url = git@github.com:GHilmarG/UaSource.git
[submodule "UaSource_beta_26Feb2020"]
	path = UaSource_beta_26Feb2020
	url = git@github.com:GHilmarG/UaSource.git
	branch = beta
