*.tar.gz
*.pyc
*.sh.o*
*.png
*.bak
example/MISOMIP_999/Ua
example/MISOMIP_999/coupler_stdout
example/MISOMIP_999/jobs.log
example/MISOMIP_999/mitgcm_run/build
example/MISOMIP_999/mitgcm_run/run
example/MISOMIP_999/mitgcm_run/input/*.shice
example/MISOMIP_999/mitgcm_run/input/OBE*
example/MISOMIP_999/mitgcm_run/input/*.bin
example/MISOMIP_999/ua_run/Ua
example/MISOMIP_999/ua_run/options_for_ua
example/MISOMIP_999/ua_run/matlab*.out
example/MISOMIP_999/ua_run/*RunInfo.txt
example/MISOMIP_999/ua_run/ResultsFiles
example/MISOMIP_999/ua_run/*.mat
example/MISOMIP_999/output
example/MISOMIP_1r*
example/MISOMIP_RT*
example/MISOMIP_mesh*
MISOMIP_netcdf_output
example/FRIS_999/Ua
example/FRIS_999/coupler_stdout
example/FRIS_999/jobs.log
example/FRIS_999/mitgcm_run/build
example/FRIS_999/mitgcm_run/run
example/FRIS_999/mitgcm_run/input/*.shice
example/FRIS_999/mitgcm_run/input/OBE*
example/FRIS_999/mitgcm_run/input/*.bin
example/FRIS_999/ua_run/Ua
example/FRIS_999/ua_run/options_for_ua
example/FRIS_999/ua_run/matlab*.out
example/FRIS_999/ua_run/*RunInfo.txt
example/FRIS_999/ua_run/ResultsFiles
example/FRIS_999/ua_run/*.mat
example/FRIS_999/ua_run/*.mat.tmp
example/FRIS_999/output*
example/FRIS_999/output
example/FRIS_999/ua_postprocess/UaPost
example/FRIS_999/ua_postprocess/matlab*.out
example/FRIS_999/ini_grid
example/FRIS_UaMITgcm
example/old
example/FRIS_old
example/FRIS_post_spinup
example/FRIS_300
example/PTDC_999/Kimura_OceanBC.mat
example/PTDC_888/Kimura_OceanBC.mat
example/PTDC_888/ua_custom/RefinedMesh_for_MITmask.mat
example/WSFRIS_999/Ua
example/WSFRIS_999/coupler_stdout
example/WSFRIS_999/jobs.log
example/WSFRIS_999/mitgcm_run/build
example/WSFRIS_999/mitgcm_run/run
example/WSFRIS_999/mitgcm_run/input/*.shice
example/WSFRIS_999/mitgcm_run/input/OBE*
example/WSFRIS_999/mitgcm_run/input/*.bin
example/WSFRIS_999/ua_run/Ua
example/WSFRIS_999/ua_run/options_for_ua
example/WSFRIS_999/ua_run/matlab*.out
example/WSFRIS_999/ua_run/*RunInfo.txt
example/WSFRIS_999/ua_run/ResultsFiles
example/WSFRIS_999/ua_run/*.mat
example/WSFRIS_999/ua_run/*.mat.tmp
example/WSFRIS_999/output*
example/WSFRIS_999/output
example/WSFRIS_999/ua_postprocess/UaPost
example/WSFRIS_999/ua_postprocess/matlab*.out
example/WSFRIS_999/ini_grid
example/WSFRIS_0*
example/WSFRIS_1*
example/WSFRIS_S*
example/WSFRIS_a*
example/WSFRIS_b*
example/WSFRIS_c*
example/WSFRIS_d*
example/make_timeseries.sh
example/precompute_animation.sh
example/cmip_config
example/FRIS_UaMITgcm_backup
example/MISOMIP_full
example/MISOMIP_zero
example/WSFRIS_spinup0
example/PAS_ERA5
example/PAS_PACE0*
example/PAS_PACE1*
example/PAS_PACE20
example/PAS_PACEhb
example/PAS_*ctrl
example/PAS_999/coupler_stdout
example/PAS_999/jobs.log
example/PAS_999/mitgcm_run/build
example/PAS_999/mitgcm_run/run
example/PAS_999/output
example/PAS_999/slurm-*.out
example/PAS_999/ua_run
example/PAS_999/ua_run/Ua
example/PAS_999/ua_run/options_for_ua
example/PAS_999/ua_run/matlab*.out
example/PAS_999/ua_run/*RunInfo.txt
example/PAS_999/ua_run/ResultsFiles
example/PAS_999/ua_run/*.mat
example/PAS_999/ua_run/*.mat.tmp
example/PAS_LENS*
example/PAS_MENS*
example/PAS_LW*
example/PAS_couple*
example/PAS_serialUa
example/AMUND_999/coupler_stdout
example/AMUND_999/jobs.log
example/AMUND_999/mitgcm_run/build
example/AMUND_999/mitgcm_run/run
example/AMUND_999/output
example/AMUND_999/slurm-*.out
example/AMUND_999/*.mat
example/AMUND_999/ua_run
example/AMUND_999/ua_run/Ua
example/AMUND_999/ua_run/options_for_ua
example/AMUND_999/ua_run/matlab*.out
example/AMUND_999/ua_run/*RunInfo.txt
example/AMUND_999/ua_run/ResultsFiles
example/AMUND_999/ua_run/*.mat
example/AMUND_999/ua_run/*.mat.tmp