[submodule "MITgcm_67k"]
	path = MITgcm_67k
	url = git@github.com:MITgcm/MITgcm.git
[submodule "MITgcm_67g"]
	path = MITgcm_67g
	url = git@github.com:MITgcm/MITgcm.git
[submodule "UaSource_22Nov2018"]
	path = UaSource_22Nov2018
	url = git@github.com:GHilmarG/UaSource.git
[submodule "UaSource_beta_25Mar2020"]
	path = UaSource_beta_25Mar2020
	url = git@github.com:GHilmarG/UaSource.git
	branch = beta
[submodule "MITgcm_67s"]
	path = MITgcm_67s
	url = git@github.com:MITgcm/MITgcm.git
[submodule "tools/mitgcm_python"]
	path = tools/mitgcm_python
	url = git@github.com:knaughten/mitgcm_python.git
[submodule "UaSource_7Dec2021"]
	path = UaSource_7Dec2021
	url = git@github.com:GHilmarG/UaSource.git
	branch = master
